html.sr .reveal, html.sr .reveal_steps1,  html.sr .reveal_steps2, html.sr .reveal_bg, html.sr .reveal_2 {
    visibility: hidden;
}

:root {
    --light: #ffedbd;
    --light-a: #e5d5b0;
    --light-b:navajowhite;
    --light-c:#ffe09a;

    --dark:#000000;

    --grey:#555555;

    --c1: #5b7d7c;

    --c2: #201d20;
    --c2-a:#403b40;
    --c2-b:#5f585f;

    --c3:#ffd455;

    --max-width: 135rem;

    --width-1:clamp(15rem, 81vw, var(--max-width));
    --width-2:clamp(15rem, 88vw, var(--max-width));

    --corner-width: calc((100vw - var(--width-1)) / 2);

    --header-height:clamp(1rem,20vmin,9rem);

    --roulette-size:clamp(25rem, 25vw, 30rem);

    --testimonial-width:clamp(15rem, 75vw, 100rem);
}

.base_width {
    width: var(--width-1);
    margin-inline: auto;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('/fonts/EBGaramond-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--c2);
    color: var(--light);
    position: relative;
    font-weight: 400;
    letter-spacing: 0.02rem;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    width: fit-content;
    font-weight: 600;
    font-family: 'EBGaramond', sans-serif;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: unset;
    cursor: pointer;
}

a h1, a h2, a h3, a h4, a h5, h5 {
    cursor: pointer;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    object-position: center;
}

video {
    background-size: cover;
    background-position: center;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--dark);
    background-color: #ddd;
}

::-webkit-scrollbar {
    width: 2rem;
    height: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light);
    border:0.6rem solid var(--c2);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

button:focus-visible {
    outline: 0.1rem solid transparent;
}

button:not([type="submit"]):focus-visible {
    outline: 0.1rem solid transparent;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

ol, ul, li {
    padding: 0;
    list-style: none;
    margin-block: 0;
}

hr {
    border:unset;
    margin: unset;
}

noscript {
    font-size: 2rem;
    text-align: center;
    display: block;
    position: absolute;
    background-color: var(--light);
    z-index: 10;
    color: var(--dark-a);
    margin-inline: auto;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 0.2rem solid var(--highlight);
    max-width: 80%;
    box-sizing: border-box;
    inset: 0;
    height: fit-content;
    margin: auto;
}

.cta {
    font-size: clamp(1.5rem, 9.5vw, 4rem);
    width: fit-content;
    padding-right: clamp(1.6rem, 9vw, 4.5rem);
    line-height: 1;
    position: relative;
    font-family: 'EBGaramond', serif;
    font-weight: 500;
    letter-spacing: 0.13rem;
}

.cta::after {
    content: '';
    position: relative;
    width: 0.4rem;
    height: 0.4rem;
    border-top: 0.3rem solid;
    border-right: 0.3rem solid;
    left: 1rem;
    display: inline-block;
    transform: translateY(-70%) rotate(45deg);
    -webkit-transform: translateY(-70%) rotate(45deg);
    -moz-transform: translateY(-70%) rotate(45deg);
    -ms-transform: translateY(-70%) rotate(45deg);
    -o-transform: translateY(-70%) rotate(45deg);
    transition: transform 0.1s ease;
    -webkit-transition: transform 0.1s ease;
    -moz-transition: transform 0.1s ease;
    -ms-transition: transform 0.1s ease;
    -o-transition: transform 0.1s ease;
}

.cta:hover:after {
    transform: translateY(-70%) translateX(0.3rem) rotate(45deg);
    -webkit-transform: translateY(-70%) translateX(0.3rem) rotate(45deg);
    -moz-transform: translateY(-70%) translateX(0.3rem) rotate(45deg);
    -ms-transform: translateY(-70%) translateX(0.3rem) rotate(45deg);
    -o-transform: translateY(-70%) translateX(0.3rem) rotate(45deg);
}

.main.cta {

}





/* CUSTOMS */

.shadow_ctnr {
    background-image: linear-gradient(120deg, var(--c2) 24%, transparent 100%);
    background-attachment: fixed;
    min-height: 100vh;
}

.bg_ctnr {
    width: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    left:0;
    /* top:calc(var(--header-height) + 0.1rem); */
    top: 0;
    right: 0;
    bottom: 0;
}

.bg {
    height: 100vh;
    width: calc(100vw + 12rem);
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
    position: absolute;
    right: -12rem;
    max-width: unset;
}

.main.base_width {
    min-height: 100vh;
    position: relative;
    padding-top: calc(var(--header-height) * 1.5);
    box-sizing: border-box;
}

.main.base_width.flex {
    flex-flow: row wrap;
    align-content: baseline;
}

h1 {
    font-weight: 600;
    color: var(--c3);
    line-height: 1;
    font-size: clamp(1rem,15vw,12rem);
}

h1 + p {
    font-size: clamp(1rem, 4.2vw, 1.65rem);
    line-height: 1.65;
    font-weight: 200;
    max-width: clamp(10rem, 80vw, 51rem);
    margin-block: clamp(1rem, 5vw, 2rem);
}

h1 + p b, h1 + p strong {
    font-weight: 400;
}















@keyframes slideOut {
    0% {
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate3d(0, 0, 0);
    } 100% {
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate3d(-100vw, 0, 0);
    }
}

@keyframes slideIn {
    0% {
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate3d(100vw, 0, 0);
    } 100% {
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 12px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 14px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:5000px) {
    html {
        font-size: 19px;
    }
}