
header {
    background-color: rgb(32 29 32 / 85%);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 0.1rem solid var(--light-c);
    backdrop-filter: blur(0.4rem);
    border-bottom: 0.1rem solid var(--c2-a);
    border-radius: 0 0 0.7rem 0.7rem;
    -webkit-border-radius: 0 0 0.7rem 0.7rem;
    -moz-border-radius: 0 0 0.7rem 0.7rem;
    -ms-border-radius: 0 0 0.7rem 0.7rem;
    -o-border-radius: 0 0 0.7rem 0.7rem;
}

.logo_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.logo_flex .logotype {
    width: clamp(8rem, 5vw, 9rem);
}

header .base_width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    width: clamp(1rem,15vmin,7rem);
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-inline: auto;
    padding-block: 5rem 12rem;
    font-size: clamp(1.5rem,8vw,4.1rem);
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    font-family: 'EBGaramond';
    background-color: rgb(32 29 32 / 90%);
    color: var(--light-a);
    z-index: 2;
    backdrop-filter: blur(0.9rem);
    border-radius: 0.4rem 0.4rem 0 0;
    -webkit-border-radius: 0.4rem 0.4rem 0 0;
    -moz-border-radius: 0.4rem 0.4rem 0 0;
    -ms-border-radius: 0.4rem 0.4rem 0 0;
    -o-border-radius: 0.4rem 0.4rem 0 0;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 1.4s ease;
    -webkit-transition: opacity 0.4s ease, visibility 0.4s ease, transform 1.4s ease;
    -moz-transition: opacity 0.4s ease, visibility 0.4s ease, transform 1.4s ease;
    -ms-transition: opacity 0.4s ease, visibility 0.4s ease, transform 1.4s ease;
    -o-transition: opacity 0.4s ease, visibility 0.4s ease, transform 1.4s ease;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
}

nav, nav > .ctnr {
    display: flex;
    flex-direction: column;
}

nav.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

nav a, nav .social {
    opacity: 0;
    transition: opacity 0.3s ease, color 0.8s ease;
    -webkit-transition: opacity 0.3s ease, color 0.8s ease;
    -moz-transition: opacity 0.3s ease, color 0.8s ease;
    -ms-transition: opacity 0.3s ease, color 0.8s ease;
    -o-transition: opacity 0.3s ease, color 0.8s ease;
}

nav a:hover {
    color: var(--c3);
    transition: opacity 0.3s ease, color 0s ease;
    -webkit-transition: opacity 0.3s ease, color 0s ease;
    -moz-transition: opacity 0.3s ease, color 0s ease;
    -ms-transition: opacity 0.3s ease, color 0s ease;
    -o-transition: opacity 0.3s ease, color 0s ease;
}

nav hr {
    width: var(--width-1);
    height: 0.1rem;
    background-color: var(--c2-a);
    margin-inline: auto;
    opacity: 0;
}

nav.show a, nav.show .social, nav.show hr {
    opacity: 1;
    transition: opacity 2.5s ease;
    -webkit-transition: opacity 2.5s ease;
    -moz-transition: opacity 2.5s ease;
    -ms-transition: opacity 2.5s ease;
    -o-transition: opacity 2.5s ease;
}

nav.show a:nth-of-type(1), nav.show hr:nth-of-type(1) {
    transition-delay: 0.1s;
}

nav.show a:nth-of-type(2), nav.show hr:nth-of-type(2) {
    transition-delay: 0.2s;
}

nav.show a:nth-of-type(3), nav.show hr:nth-of-type(3) {
    transition-delay: 0.3s;
}

nav.show a:nth-of-type(4), nav.show hr:nth-of-type(4) {
    transition-delay: 0.4s;
}

nav.show .soczal {
    transition-delay: 0.5s;
}

nav.show a:nth-of-type(5) {
    transition-delay: 0.6s;
}

nav a {
    padding: 2rem 3rem;
    position: relative;
    overflow: hidden;
    width: var(--width-1);
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

nav a::after {
    content:'';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--light-a);
    left: 0;
    right: 0;
    transform: translateX(-102%);
    transition: transform 0s ease;
}

nav a svg {
    width: 2rem;
    height: 2.4rem;
}

nav .ctnr > a:hover:after {
    transform: translateX(102%);
    transition: transform 0.3s ease;
}

header .main.cta {
    padding: 1rem 3rem;
    font-weight: 700;
    width: fit-content;
    margin-inline: 2rem;
    position: relative;
    background-color: var(--light);
    color: var(--c2);
    padding: clamp(0.7rem,3.5vw,1.4rem) clamp(1.6rem,14vw,5rem) clamp(0.7rem,3.5vw,1.4rem) clamp(1.6rem,8vw,3.3rem);
    font-size: inherit;
}

header .main.cta span {
    position: relative;
}

header .main.cta:hover:before {
    background-color: rgb(255 255 255 / 100%);
    transition: background-color 0s ease;
}

.hambt {
    width: var(--header-height);
    height:var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-right: calc((var(--header-height) - clamp(2.5rem,9vw,4rem)) / -2);
}

.hambt > .ctnr {
    width: clamp(2.5rem,8vw,4rem);
    height: clamp(2rem,7vw,3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.hambt span {
    height: 12%;
    background-color: var(--light);
    border-radius: 0.2rem;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.hambt.close {
}

.hambt.close span:nth-child(1) {
    transform: translateY(430%) rotate(45deg);
}

.hambt.close span:nth-child(2) {
    transform: rotate(-45deg);
}

.hambt.close span:nth-child(3) {
    opacity: 0;
    transform: translateY(-220%);
}












@media screen and (min-width: 950px) {
    .hambt {
        display: none;
    }

    nav {
        opacity: 1;
        visibility: visible;
        top: unset;
        background-color: transparent;
        border-radius: unset;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        padding-block: unset;
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 0.08rem;
        bottom: unset;
        top: calc(var(--header-height) / 4);
        right: var(--corner-width);
        backdrop-filter: unset;
    }

    nav, nav > .ctnr {
        flex-direction: row;
        justify-content: right;
        width: fit-content;
        margin-inline: auto 0;
    }

    nav > .ctnr {
        gap: clamp(1rem,2vw,2.6rem);
        align-items: center;
    }

    nav a, .social {
        margin-inline: unset;
        padding-inline: 1.5rem;
        background-color: transparent;
        width: unset;
        padding: 0.4rem 0.3vw;
    }
    
    nav a svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    nav a, nav .social {
        opacity: 1;
        transition: unset;
        -webkit-transition: unset;
        -moz-transition: unset;
        -ms-transition: unset;
        -o-transition: unset;
    }

    nav hr {
        width: 0.4rem;
        height: 0.4rem;
        opacity: 1;
        transform: rotate(45deg);
    }
}