.intro {
    background-image: linear-gradient(120deg, var(--c2) 24%, transparent 100%);
    background-attachment: fixed;
}

body {
    overflow: hidden;
}

main {
    
}

.bg_ctnr {
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    left:0;
    top:calc(var(--header-height) + 0.1rem);
    right: 0;
    bottom: 0;
}

.bg {
    height: 100vh;
    width: calc(100vw + 4rem);
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
    position: absolute;
    right: -4rem;
    max-width: unset;
}

.intro .base_width {
    min-height: calc(100vh - var(--header-height) - 0.1rem);
    position: relative;
    padding-top: calc(var(--header-height));
    box-sizing: border-box;
}

h1 {
    font-weight: 600;
    color: var(--light);
    /* text-shadow: 0rem 2rem 5rem var(--dark); */
    line-height: 1;
}

h1 + p {
    font-size: clamp(1rem, 4.2vw, 1.75rem);
    line-height: 1.65;
    font-weight: 200;
    width: clamp(10rem, 80vw, 51rem);
    margin-block: clamp(1rem, 5vw, 2rem);
}

h1 + p b, h1 + p strong {
    font-weight: 400;
}

.cta {
    display: block;
}

.intro a.secondary {
    font-size: clamp(1.2rem, 5vw, 2.2rem);
    font-family: 'EBGaramond', serif;
    font-weight: 500;
    letter-spacing: 0.13rem;
    margin-top: 0.6rem;
    display: block;
    color: var(--light-b);
}

.intro .content > hr {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--light-a);
    border-radius: 0.2rem;
    margin-block: 2rem;
}


@media screen and (min-width:800px) {
    .intro {
        background-image: linear-gradient(125deg, var(--c2) 14%, transparent 85%);
    }
}