---
    import Layout from "../layouts/Layout.astro";

    import '../styles/contact.css'

    import VanVector from "../components/vectors/VanVector.astro"
---


<Layout title="Contact us - Broken Dreams">
    <main>
        <div class="vector_ctnr reveal">
            <VanVector/>
        </div>

        <div class="base_width">

        </div>
    </main>
</Layout>