---
import Layout from '../layouts/Layout.astro';

import { Image } from "astro:assets"
import Bg from "../assets/van-bgs/home.png"

import Social from '../components/Social.astro';

---

<Layout title="Broken Dreams Coffee Co.">

	<div class="bg_ctnr">
		<Image src={Bg} alt="Broken Dreams background image" class="bg reveal_bg" />
	</div>
	<section class="intro shadow_ctnr">
		<div class="main base_width">
			<div class="content reveal_steps1">
				<h1>Follow the Journey</h1>

				<p>[BLOG POSTS HERE]</p>
				
				<Social/>

				<hr>
			</div>
		</div>
	</section>
</Layout>

<style>
	.main.base_width .content {
		display: flex;
		flex-direction: column;
	}
</style>