---
import Layout from '../layouts/Layout.astro';

import { Image } from "astro:assets"
import Bg from "../assets/van-bgs/home.png"

import Social from '../components/Social.astro';

---

<Layout title="Broken Dreams Coffee Co.">

	<div class="bg_ctnr">
		<Image src={Bg} alt="Broken Dreams background image" class="bg reveal_bg" />
	</div>
	<section class="intro shadow_ctnr">
		<div class="main base_width">
			<div class="content reveal_steps1">
				<h1>Follow the Journey</h1>
				
				<Social/>

				<div class="blog_posts">
					<div class="card reveal_steps2"></div>
					<div class="card reveal_steps2"></div>
					<div class="card reveal_steps2"></div>
					<div class="card reveal_steps2"></div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	.main.base_width .content {
		display: flex;
		flex-direction: column;
	}

	.blog_posts {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-block: 4rem 8rem;
	}

	.blog_posts .card {
		width: 100%;
		height: 24rem;
		background-color: var(--c2);
		border-radius: 0.9rem;
		border: 0.1rem solid var(--c2-b);
	}
</style>