---
    import Social from "./Social.astro";
---

<footer>
    <div class="base_width">
        <div>
            <p>®Broken Dreams Coffee Co. All rights reserved.</p>
        </div>

        <div class="flex">
            <a href="mailto:info@brokendreams.coffee">info@brokendreams.coffee</a>

            <Social/>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: rgb(32 29 32 / 85%);
        backdrop-filter: blur(0.4rem);
        border-top: 0.1rem solid var(--c2-a);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding-block: 1.4rem;
        font-size: 1.4rem;
        font-weight: 300;
        border-radius: 0.7rem 0.7rem 0 0;
    }

    footer .base_width {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
    }

    footer p, footer a {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    footer .flex {
        flex-direction: column;
        gap: clamp(0.6rem, 2vw, 1.6rem);
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width:700px) {
        footer {
            padding-block: 0.8rem;
        }

        footer .base_width {
            justify-content: space-between;
        }

        footer .flex, footer .base_width {
            flex-direction: row;
            align-items: center;
        }
    }
</style>
