---

import Logo from "./vectors/logo-reduced.astro";
import Logotype from "./vectors/Logotype.astro"

import "../styles/header.css"

import LinkedIn from "./vectors/LinkedIn.astro";
import Instagram from "./vectors/Instagram.astro";
import Twitter from "./vectors/Twitter.astro";

---

<header>
    <div class="base_width">
        <a href="/" class="logo">
            <Logo/>
        </a>

        <button class="hambt" type="button" aria-label="Open navigation menu">
            <div class="ctnr">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
</header>

<nav>
    <div class="ctnr">
        <a href="/">Home</a>
        <a href="/dream-with-us">Dream with us</a>
        <a href="/taste-authenticity">Taste authenticity</a>
        <a href="/savor-the-dream">Savor the dream</a>

        <div class="social">
            <p>Follow the Journey</p>
        
            <div class="icons">
                <a href="#" class="icon">
                    <Instagram/>
                </a>
            
                <a href="#" class="icon">
                    <Twitter/>
                </a>
            
                <a href="#" class="icon">
                    <LinkedIn/>
                </a>
            </div>
        </div>

        <a href="/contact/">Contact us</a>
    </div>
</nav>

<script>
	document.addEventListener('astro:page-load', () => {
        const menuBt = document.querySelector(".hambt");
        const nav = document.querySelector("nav");
        const navBts = document.querySelectorAll("nav a");

        let showingMenu = false;

        function toggleNav() {
            if (showingMenu == false) {
                nav.classList.add("show");
                menuBt.classList.add("close");

                showingMenu = true;
            } else {
                nav.classList.remove("show");
                menuBt.classList.remove("close");

                showingMenu = false;
            }
        }

        if(window.getComputedStyle(menuBt).display != "none") {
            menuBt.addEventListener("click", toggleNav);

            for (let i = 0; i < navBts.length; i++) {
                navBts[i].addEventListener("click", toggleNav);
            }

            window.addEventListener("scroll", function (e) {
                if (showingMenu == true) {
                    toggleNav();
                }
            });
        }
        
	}, { once: false });
</script>