---

    import LinkedIn from "./vectors/LinkedIn.astro";
    import Instagram from "./vectors/Instagram.astro";
    import Twitter from "./vectors/Twitter.astro";

    import '../styles/social.css'
---

<div class="social">
    <h2>Follow the Journey</h2>

    <div class="icons">
        <a href="#" class="icon instagram">
            <Instagram/>
        </a>
    
        <a href="#" class="icon Twitter">
            <Twitter/>
        </a>
    
        <a href="#" class="icon LinkedIn">
            <LinkedIn/>
        </a>
    </div>
</div>